<div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
<div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"  *ngFor="let item of episodes">
<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>Song: {{item.song}}</mat-card-title>
    <mat-card-subtitle *ngIf="item.movie">Movie: {{item.movie}}, {{item.year}}</mat-card-subtitle>
    <mat-card-subtitle>Original Artists: {{item.original_artists}}</mat-card-subtitle>
    <mat-card-subtitle>Cover Artists: {{item.cover_artists}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <a mat-button class="mat-focus-indicator mat-button mat-button-base" href="{{item.episode_url}}" target="_blank">Watch Episode</a>
    <a mat-button class="mat-focus-indicator mat-button mat-button-base" href="{{item.episode_url}}&t={{item.song_start}}" target="_blank">Start at the Song</a>
  </mat-card-actions>
</mat-card>
</div>
</div>
