<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
               [opened]="true"
               mode='side'>
    <mat-toolbar color="primary">
      Contacts
    </mat-toolbar>
    <mat-list>
      <app-originals-panel></app-originals-panel>
    </mat-list>
    <mat-list>
      <app-covers-panel></app-covers-panel>
    </mat-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <h1>Quarantine from Reality</h1>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/all'"> All Episodes </a>
          <a mat-button [routerLink]="'/latest'"> Latest Episode </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>
